body {
  padding: 3%;
  font-family: 'Roboto Mono', monospace;
  color: #c2c6d2;
  background: #F5E9DC;
}

.cal-body {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  border: solid;
  border-color: #343850;
  border-radius: 20px;
  -webkit-box-shadow:
    10px 10px 25px 0px rgba(0,0,0,0.5),
    inset -10px -20px 100px -30px rgba(0,0,0,0.75);
  -moz-box-shadow:
    10px 10px 25px 0px rgba(0,0,0,0.5),
    inset -10px -20px 100px -30px rgba(0,0,0,0.75);
  box-shadow:
    10px 10px 25px 0px rgba(0,0,0,0.5),
    inset -10px -20px 100px -30px rgba(0,0,0,0.75);
  background: #3d415a;
}

.header {
  text-align: center;
  margin: 15px 10px;
}

.display {
  height: 75px;
  margin: 0px 20px 12px 20px;
  border: solid;
  border-radius: 6px;
  border-color: #9eb790;
  background: #b4cca6;
  padding: 3px;
}

.mem-input {
  min-height: 19px;
  max-height: 25px;
  text-align: right;
  color: #808080;
  padding-right: 3px;
}

.act-input {
  min-height: 44px;
  max-height: 50px;
  text-align: right;
  color: black;
  font-size: 30px;
}

.buttons-all {
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.button-single {
  background: #9897c2;
  /*height: 38px;
  width: 55px;*/
  margin: 5px;
  padding: 5px;
  font-size: 14pt;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow:
    0px 2px 1px 0px rgba(0,0,0,0.5),
    inset 0px -3px 5px 0px rgba(255,255,255,0.4);
  -moz-box-shadow:
    0px 2px 1px 0px rgba(0,0,0,0.5),
    inset 0px -3px 5px 0px rgba(255,255,255,0.4);
  box-shadow:
    0px 2px 1px 0px rgba(0,0,0,0.5),
    inset 0px -3px 5px 0px rgba(255,255,255,0.2);
}

.button-special {
  background: #9d6888;
}

.button-zero {
  flex: 0 0 calc(50% - 10px)
}

.fourth-row {
  position: relative;
}

#equals {
  width: 55px;
  position: absolute;
  right: 0px;
  height: 86px;
}

.footer {
  padding-bottom: 15px;
  width: 100%;
  color: black;
  left: 0;
  bottom: 0;
  position: fixed;
  text-align: center;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}

.emily-link {
  color: #87CEFA;
}
